* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }


  :root {

    --DarkGray: #a1a1a1;
    --Black: #000000;
    --White: #ffffff;
    --VeryDarkGray: #454545;
  }

  body {
    font-family: 'Spartan', sans-serif;
  
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 23px 70px;
    margin-top: 36px;
  }

  .menu_items {
    margin-left: 70px;
  }  

  .menu li {
    display: inline-block;
    padding: 0 15px;
  
  }
  
  a {
    text-decoration: none;
    color: var(--White);
  }

  
  