* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }


  :root {

    --DarkGray: #a1a1a1;
    --Black: #000000;
    --White: #ffffff;
    --VeryDarkGray: #454545;
  }

  body {
    font-family: 'Spartan', sans-serif;
  
  }
  